{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<small>By: {{ object.author.first_name }} {{ object.author.last_name }} -
    {% if user.is_authenticated %}
     <small>
          <a href="{% url 'update_post' post.pk %}">(Edit)</a>
          <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
          </small>
    {% endif %} 
<hr><br/>

{% if object.image %}
  <img src="{{ object.image.url }}" alt="Image for {{ object.title }}" style="max-width:100%; height:auto; margin-bottom: 20px;">
{% endif %}

<p>{{ object.body }}</p>

<br/>
<a href="{% url 'home' %}" class="btn btn-success">Back</a>
{% endblock %}
